<header id="header">
  <div class="d-flex justify-content-between mx-3 py-2 align-items-center">
    <div>
      <a href="/">
        <img
          class="img-fluid siteLogo"
          src="/assets/img/logo.png"
          alt="File Download"
        />
      </a>
    </div>

    <% if(urlPath !== '/login' && urlPath !== '/register' || urlPath ===
    '/register'){ %>
    <div class="d-none d-md-block">
      <div class="d-flex justify-content-between">
        <% if(isLoggedIn === true){ %>
        <a href="/admin" class="text-decoration-none mr-3">
          <button class="btn px-4 py-2">
            Admin <i class="fas fa-user-shield ml-1 normalFontSize"></i>
          </button>
        </a>
        <a href="/logout" class="text-decoration-none">
          <button class="btn px-4 py-2">
            Sign Out <i class="fas fa-sign-in-alt ml-1 normalFontSize"></i>
          </button>
        </a>
        <% } else{ %>
        <a href="/login" class="text-decoration-none">
          <button class="btn px-4 py-2">
            Sign In <i class="fas fa-sign-in-alt ml-1 normalFontSize"></i>
          </button>
        </a>
        <% } %>
      </div>
    </div>
    <% } %> <% if(urlPath === '/login'){ %>
    <div class="d-none d-md-block">
      <div class="d-flex justify-content-between">
        <% if(isLoggedIn === true){ %>
        <a href="/admin" class="text-decoration-none mr-3">
          <button class="btn px-4 py-2">
            Admin <i class="fas fa-user-shield ml-1 normalFontSize"></i>
          </button>
        </a>
        <% } %>

        <a href="/register" class="text-decoration-none">
          <button class="btn px-4 py-2">
            Sign Up <i class="fas fa-user ml-1 normalFontSize"></i>
          </button>
        </a>
      </div>
    </div>
    <% } %>
  </div>
</header>
