<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Downloader</title>
    <% if(isProd === false){ %>
    <link
      rel="stylesheet"
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/assets/css/custom.css" />
    <link rel="stylesheet" href="/assets/css/responsive.css" />
    <% } else{ %>
    <link rel="stylesheet" href="/dist/app.min.css" />
    <% } %>
  </head>
  <body ng-controller="mainController">
    <%- include('./includes/header.ejs') %>

    <div class="container mt-md-5 mt-3">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <div id="loginCTA" class="rounded px-3 pt-3 pb-4">
            <h2 class="signIntext mb-5 pb-3">Create an account</h2>
            <form novalidate name="registerForm">
              <div class="position-relative mb-4">
                <input
                  ng-class="{
                    invalid_Input:
                      (registerForm.name.$invalid &&
                        registerForm.name.$dirty &&
                        registerForm.name.$touched) ||
                      (registerFormSubmitted && registerForm.name.$invalid)
                  }"
                  type="text"
                  class="form-control px-3"
                  placeholder="Name"
                  name="name"
                  ng-model="registerDetails.name"
                  required
                  ng-required="true"
                />

                <p
                  class="errorMsg mb-0 commonFontSize pl-3"
                  ng-if="
                    (registerForm.name.$invalid &&
                      registerForm.name.$dirty &&
                      registerForm.name.$touched) ||
                    (registerFormSubmitted && registerForm.name.$invalid)
                  "
                >
                  Name is required
                </p>
              </div>
              <div class="position-relative mb-4">
                <input
                  ng-class="{
                    invalid_Input:
                      (registerForm.email.$invalid &&
                        registerForm.email.$dirty &&
                        registerForm.email.$touched) ||
                      (registerFormSubmitted && registerForm.email.$invalid)
                  }"
                  type="text"
                  class="form-control px-3"
                  placeholder="Email"
                  name="email"
                  ng-model="registerDetails.email"
                  required
                  ng-required="true"
                  ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
                />

                <p
                  class="errorMsg mb-0 commonFontSize pl-3"
                  ng-if="
                    (registerForm.email.$invalid &&
                      registerForm.email.$dirty &&
                      registerForm.email.$touched) ||
                    (registerFormSubmitted && registerForm.email.$invalid)
                  "
                >
                  Must be a valid email
                </p>
              </div>
              <div class="position-relative mb-4">
                <input
                  ng-class="{
                    invalid_Input:
                      (registerForm.password.$invalid &&
                        registerForm.password.$dirty &&
                        registerForm.password.$touched) ||
                      (registerFormSubmitted && registerForm.password.$invalid)
                  }"
                  type="password"
                  class="form-control px-3"
                  placeholder="Password"
                  name="password"
                  ng-model="registerDetails.password"
                  required
                  ng-required="true"
                />

                <p
                  class="errorMsg mb-0 commonFontSize pl-3"
                  ng-if="
                    (registerForm.password.$invalid &&
                      registerForm.password.$dirty &&
                      registerForm.password.$touched) ||
                    (registerFormSubmitted && registerForm.password.$invalid)
                  "
                >
                  Password is required
                </p>
              </div>
              <div class="position-relative">

                <p class="errorMsg commonFontSize pl-3" ng-if="registerResMsg && registerResMsg.length">
                  {{ registerResMsg }}
                </p>

                <button
                  ng-disabled="registerBtnText === 'Creating...'"
                  class="btn px-4 py-2"
                  type="button"
                  ng-click="signUp(registerForm.$valid)"
                >
                  {{ registerBtnText }}
                  <i class="fas fa-user ml-1 normalFontSize"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <% if(isProd === true){ %>
    <script src="/dist/app.min.js"></script>
    <% } else{ %>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/mainController.js"></script>
    <script src="/assets/js/mainService.js"></script>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <% } %>
    <script
      src="https://kit.fontawesome.com/a032fe1b0d.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
